{% extends "layout.html" %}

{% block head %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<link href="https://unpkg.com/nanogallery2@2.4.1/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css"> <!-- nanogallery2 code courtesy of https://nanogallery2.nanostudio.org/ -->
<script type="text/javascript" src="https://unpkg.com/nanogallery2@2.4.1/dist/jquery.nanogallery2.min.js"></script>

{% endblock %}

{% block title %}
  Pictures
{% endblock %}

{% block main %}

<div ID="ngy2p" data-nanogallery2='{
    "itemsBaseURL": ".",
    "thumbnailWidth": "300",
    "thumbnailHeight": "auto",
    "thumbnailBorderVertical": 0,
    "thumbnailBorderHorizontal": 0,
    "colorScheme": {
      "thumbnail": {
        "background": "rgba(255,255,255,0)"
      }
    },
    "thumbnailLabel": {
      "display": false
    },
    "thumbnailHoverEffect2": "imageScale150Outside",
    "thumbnailAlignment": "center",
    "thumbnailGutterWidth": 4,
    "thumbnailGutterHeight": 4
  }'>
  {% for i in range(100,194) %}
    <a href="/static/images/{{i}}.jpg" data-ngthumb="/static/images/{{i}}t.jpg"></a>
  {% endfor %}
</div>

{% endblock %}